---
import { readFileSync } from 'fs'
import { resolve } from 'path'
const { path } = Astro.props


let contents

const includePath = resolve('src/content/includes', path)

try {
  contents = readFileSync(
    includePath
  )

}
catch(e: any) {
  contents = e.message
}

---
<div class="include-file">
  {contents}
</div>
